PROCESS_CONTROL_PATH = temp/process_control.txt
PRESSURE_PATH = temp/pressure.txt
FLOW_PATH = temp/flow.txt
VOLUME_PATH = temp/volume.txt
MODE_PATH = temp/mode.txt
TIDAL_PATH = temp/tidal_volume.txt
RESP_RATE_PATH = temp/resp_rate.txt
IERATIO_PATH = temp/ie_ratio.txt
PEAK_FLOW_PATH = temp/peak_flow.txt
PEEP_PATH = temp/peep.txt
FIO2_PATH = temp/fio2.txt
PEAK_PRESSURE_PATH = temp/pressure_peak.txt
P_PLATEAU_PATH = temp/p_plateau.txt
ALARM_COLOR_PATH = temp/alarm_color.txt
ALARM_STATUS_PATH = temp/alarm_status.txt
UPTIME_PATH = temp/uptime.txt

ENTRY_TIDAL_PATH = temp/entry_tidal_volume.txt
ENTRY_PEAK_FLOW_PATH = temp/entry_peak_flow.txt
ENTRY_PEEP_PATH = temp/entry_peep.txt